section.about
    .container
        +title('About us', 'We are added our major Services')
        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid
            li.about__item
                .icon.icon-book
                h3.about__header landing pages creation
                p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid
            li.about__item
                .icon.icon-message
                h3.about__header Ads managment
                p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid