section.approach
    .container
        +title('Our Approach', 'Check our approaches step by step (how we do it) ')

        ul.approach__list
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 1: Heading Here
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit.A ab assumenda at consequuntur in iure labore quaerat ratione repudiandae voluptate.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-2.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 2: Heading Here
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab assumenda at consequuntur in iure labore quaerat ratione repudiandae voluptate.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-3.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 3: Heading Here
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab assumenda at consequuntur in iure labore quaerat ratione repudiandae voluptate.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-4.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 4: Heading Here
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab assumenda at consequuntur in iure labore quaerat ratione repudiandae voluptate.