.contacts
    a.contact(href="tel: +380031566464")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text 6337 3128
    a.contact(href="mailto:info@business.co")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text info@business.co
    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook(aria-hidden="true")