section.form-section
    +title('Get Your Free Facebook Analysis Now', 'Enter your details below')
    .btn-down: a.arrow-down(href="form.html" target="_blank"): i.fa.fa-angle-down
    .form-container.is-hidden
        form(method="post" action="#").form
            button(type="button").form__close-button x
            .form__text.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi expedita hic, nesciunt rem vero.
            .form__fields
                input.form__input(type="text" placeholder="Your Name" data-valid="required")
                input.form__input(type="email" placeholder="email" data-valid="required" data-email)
                input.form__input(type="text" placeholder="Contact Name" data-valid="required" data-number)
            button(type="submit").button.button--text-uppercase.button--red Submit now