header.header
    .header__top
        .container
            include contact
    .container
        .header__bottom
            .logo: img.logo__picture(src="images/logo.png" alt="picture")
            include nav
            a.button.header__button.button--red(href="#") Free consultation