nav.nav
    - var items = ['Home', 'About us', 'Our Appoch', 'Our work.pug']
    -var dataItems = ['header', 'about', 'approach', 'work']

    each item,index in items
        if index === 0
            a.nav__link.nav__link--active(href="#" data-link=dataItems[index])=item
        else
            a.nav__link(href="#" data-link=dataItems[index])=item