section.work
    .container
        +title('Our work','We are added our featured works before')
        ul.work__list
            li.work__item.work__item--name
                .work__name Project Name
                .work__description Facebook marketing

            li.work__item: img.work__picture(src="images/work-1.jpg" alt="picture")

            li.work__item.work__item--name
                .work__name Project Name
                .work__description Facebook marketing

            li.work__item: img.work__picture(src="images/work-2.jpg" alt="picture")

            li.work__item: img.work__picture(src="images/work-3.jpg" alt="picture")

            li.work__item.work__item--name
                .work__name Project Name
                .work__description Facebook marketing

            li.work__item: img.work__picture(src="images/work-4.jpg" alt="picture")

            li.work__item.work__item--name
                .work__name Project Name
                .work__description Facebook marketing



