doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet"  href="css/main.min.css")
    title Business
  body
    include sections/title
    include sections/header
    include sections/hero
    include sections/about
    include sections/approach
    include sections/work
    include sections/form
    include sections/footer
    script(src='js/main.min.js')

