.about {
  padding: 99px 0 105px 0;
  text-align: center;
  
  @media (max-width: 960px) {
    padding: 40px 0 20px 0;
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 50px;

    @media(max-width: 960px) {
      justify-content: center;
      padding: 0 25px;
    }
  }

  &__item {
    width: 27%;

    @media(max-width: 960px) {
      width: 50%;
      padding: 5px;
      box-sizing: border-box;
      margin-bottom: 15px;
    }
    @media (max-width: 665px) {
      width: 100%;
      padding: 0;
      margin-bottom: 0;
    }
  }

  &__header {
    margin: 0 0 6px 0;
    font-size: 1.375rem;
    font-family: $ff-main-bold;
    color: #424242;
  }

  &__description {
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #5c5c5c;
  }
}