.approach {
  padding: 86px 0 94px;
  background: #f3f3f3;

  .title {
    @media (max-width: 985px) {
      margin-bottom: 35px;
    }

  }

  @media (max-width: 985px) {
    padding: 20px 0 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    counter-reset: count;
  }

  &__item {
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: -1px -1px 10px 1px rgba(214, 214, 214, 1);
    color: #424242;
    background: #fff;

    @media (max-width: 985px) {
      padding: 25px 20px;
    }

    &:nth-child(2n) {
      display: flex;
      flex-direction: row-reverse;
      text-align: right;

      .approach__text {
        padding: 70px 90px 55px 90px;

        @media (max-width: 985px) {
          padding: 25px 20px;
        }
      }

      .approach__step {
        right: auto;
        left: -52px;
      }
      @media (max-width: 700px) {
        display: block;
      }
    }
  }

  &__image {
    position: relative;
    max-width: 340px;
    max-height: 236px;
    display: inline-block;
    vertical-align: top;

    @media (max-width: 985px) {
      max-width: calc(340px / 1.5);
      max-height: calc(236px / 1.5);
    }

    @media (max-width: 700px) {
      display: block;
      margin: auto;

    }
  }

  &__picture {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &__text {
    display: inline-block;
    vertical-align: top;
    width: 64%;
    font-size: 0.875rem;
    padding: 70px 70px 55px 90px;

    @media (max-width: 985px) {
      padding: 25px 20px;
    }
    @media (max-width: 700px) {
      width: 100%;
      text-align: center;
    }
  }

  &__step {
    @include centerer-y();

    right: -52px;
    width: 103px;
    height: 103px;
    padding-top: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 1.25rem;
    background-color: #de2b24;
    color: #fff;

    &:before {
      content: counter(count);
      counter-increment: count;
      display: block;
      font-family: $ff-steps;
      font-size: 3rem;
      line-height: 1;
      color: #fff;
    }

    @media (max-width: 985px) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 6px;
    font-size: 1.125rem;
    font-family: $ff-main-bold;
  }

  &__description {
    margin: 0;
    line-height: 1.5;

  }
}