.footer {
  &__top {
    padding: 88px 0 83px;
    text-align: center;
    background-color: #2a2a2a;
  }

  &__bottom {
    padding: 28px;
    text-align: center;
    background-color: #515151;
  }

  &__title {
    margin-bottom: 31px;
    font-size: 1.825rem;
    color: #fff;
  }

  &__social {
    margin-left: 20px;
    padding: 15px;
    border: 1px solid #515151;
    border-radius: 3px;

    &:hover {
      border: 1px solid #de2b24;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__links {
    margin-bottom: 53px;
    color: #fff;


    .fa {
      color: #fff;
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: 0.875rem;
    color: #cecece;
  }

  &__field {
    width: 67%;
    margin: 0 auto 27px;
  }

  &__input {
    width: 100%;
    padding: 20px;
    font-size: 0.875rem;
    color: #cecece;
    background-color: #515151;
    border: 0;
  }

  .button {
    border: 2px solid #515151;
    padding: 15px 37px;
    box-sizing: border-box;
    font-size: 1.0625rem;
    font-family: $ff-main-bold;
    background-color: initial;
    color: #fff;

    &:hover {
      border: 2px solid #de2b24;
    }
  }

  &__copy {
      font-size: 0.875rem;
      color: #cecece;
  }
}