.title--width-bottom-line:after {
  display: none;
}
.form-section {
  padding: 100px 0 110px 0;
  color: #fff;
  background-color: #1287bf;

  @media (max-width: 810px) {
    padding: 50px 0 55px 0;
  }

  .title {
    margin-bottom: 12px;
  }

  .title__header {
    font-size: 2.25rem;
  }

  .title__text {
    font-size: 1.25rem;
  }

  .btn-down {
    position: relative;
    margin: auto auto 20px;
    width: 65px;
    height: 65px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .arrow-down {
    @include centerer-xy();
    padding: 20px;
    color: #fff;
    .fa {
      font-size: 2.5rem;
    }
  }
}



.form {
  position: relative;
  width: 67%;
  margin: auto;
  padding: 50px 50px 66px 50px;
  border-radius: 3px;
  color: #828282;
  text-align: center;
  background-color: #fff;

  @media (max-width: 810px) {
    width: 90%;
    padding: 25px;
  }

  &-container {
    padding-top: 30px;
  }

  &:before {
    @include centerer-x();
    content: '';
    border: 30px solid transparent;
    border-bottom: 30px solid #fff;
    top: -59px;
  }

  &__close-button {
    position: absolute;
    right: -16px;
    top: -22px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: #de2b24;
    transition: 0.3s;

    &:hover {
      background: lighten(#de2b24, 10%);
    }
  }

  &__text {
    margin-bottom: 33px;
    font-size: 0.9375rem;
    line-height: 1.5;
  }
  &__fields {
    margin-bottom: 36px;
  }
  &__input {
    width: 67%;
    display: block;
    margin: auto auto 8px auto;
    padding: 18px 20px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    font-size: 0.875rem;

    &:focus {
      box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
    }
  }

  .button {
    padding: 15px 30px;
    border: none;
  }
}

