.header {
  &__top {
    background-color: #f0f2f4;
    border-bottom: 1px solid #e2e2e2;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 41px 0 32px;

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    .button {
      @media (max-width: 1080px) {
        margin-right: 15px;
      }
    }

  }

  .contacts {
    text-align: right;
  }

  .contact {
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 8px;
    color: #424242;
    transition: 0.3s;

    &:hover {
      color: lighten(#424242, 20%);
    }

    &__icon {
      margin-right: 7px;
      vertical-align: middle;
      font-size: 1.5rem;

      &--email {
        font-size: 1.2rem;
      }
    }
  }

  .facebook-icon {
    display: inline-block;
    margin: 7px 0;
    padding: 5px 8px 1px;
    border-radius: 3px;
    background-color: #1287bf;
    color: #fff;
  }

  .logo {
    @media (max-width: 1080px) {
      margin-left: 15px;
    }

    @media (max-width: 1000px) {
      margin-left: 0;
      margin-bottom: 15px;
    }

  }
}
