.title {
  margin-bottom: 63px;
  text-align: center;

  &__header {
    margin: 0;
    font-size: 2.25rem;
    font-family: $ff-main-bold;
    line-height: 1;
  }

  &__text {
    font-size: 1.25rem;
    font-family: $ff-main-bold;
  }

  &--width-bottom-line {
    position: relative;

    &:after {
      @include centerer-x();

      content: '';
      bottom: -16px;
      width: 47px;
      height: 5px;
      background: #424242;
    }
  }

}