.work {
  padding: 110px 0;
  background-color: #de2b24;
  color: #fff;
  
  @media (max-width: 985px) {
    padding: 30px 0 20px;
  }
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .title--width-bottom-line {
    &:after {
      background: #fff;
    }
  }

  &__item {
    width: 256px;
    height: 255px;
    color: #fff;
    background-color: #f35e59;

    &--name {
      position: relative;
      padding: 138px 40px 75px 40px;
      text-align: center;

      &:before {
        @include sprite($work-item);
        @include centerer-x();

        content: '';
        top: 74px;

      }
    }
  }

  &__name {
    font-size: 1.625rem;
  }

  &__picture {
    width: 100%;
    height: 100%;
  }

  &__description {
    font-size: 1rem;
  }
}