body {
  font-family: $ff-main;
  font-size: 1rem;
  line-height: 1.2;
}

html {
  box-sizing: border-box;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}