@font-face {
  font-family: "georgia-bold";
  src: url("../fonts/georgia-bold.woff") format("woff"),
  url("../fonts/georgia-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue-bold";
  src: url("../fonts/helvetica-neue-bold.woff") format("woff"),
url("../fonts/helvetica-neue-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue-light";
  src: url("../fonts/helvetica-neue-light.woff") format("woff"),
  url("../fonts/helvetica-neue-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}